<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h3 th:text="#{page.title}">Offline title</h3>
<h4 th:text="#{page.subtitle}">Offline subtitle</h4>

<form action="heart-rate-zones" method="POST">
    <input type="text" name="heartrate" required>
    <input type="submit" th:value="#{get.phrase.btn}" value="_offline_"/>
</form>

<p th:text="${zones.zoneOne}">_zone-one_</p>
<p th:text="${zones.zoneTwo}">_zone-two_</p>
<p th:text="${zones.zoneThree}">_zone-three_</p>
<p th:text="${zones.zoneFour}">_zone-four_</p>
<p th:text="${zones.zoneFive}">_zone-five_</p>

</body>
</html>